@import "{}/node_modules/bootstrap/scss/bootstrap";
@import "{}/node_modules/toastr/toastr.scss";


// Font-size main mixin
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
* {
  padding: 0px;
  margin: 0px;
}
body, html {
  font-size: 100%;
  background-color: rgba(255, 182, 193, 0.19);
}
